<div class="row">
  <div class="col-12 col-md-4">
      <h1 class="display-4 text-center">USD/ARS</h1>
    <quote-card *ngFor="let item of dolarQuoteList" [quote]="item"></quote-card>
  </div>

  <div class="col-12 col-md-4">
    <h1 class="display-4 text-center">REAL/ARS</h1>
    <quote-card *ngFor="let item of realQuoteList" [quote]="item"></quote-card>
  </div>

  <div class="col-12 col-md-4">
    <h1 class="display-4 text-center">ARS/ARS</h1>
    <quote-card *ngFor="let item of pesosQuoteList" [quote]="item"></quote-card>
  </div>
</div>
